[submodule "backend"]
	path = backend
	url = git@github.com:bxbach732/collaborative-arena.git
[submodule "frontend"]
	path = frontend
	url = git@version.aalto.fi:AaltoRSE/collaborative-ai-arena-frontend.git
