* {
  margin: 0px;
  padding: 0px;
}

body,html {
  overflow-x: hidden;
}

textarea {
  width: 630px;
  height: 50px;
}

body {
  font-family: "Inter", sans-serif;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.header-container {
  background-color: rgb(76, 70, 163);
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100%; 
  padding: 20px;
}

.navbar {
  color: white;
  display: flex;
}

.navbar a {
  padding: 5px;
}

.task-description {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.task-description ol {
  padding-left: 20px;
}

.main-interaction {
  display: flex;
  padding: 20px;
}

@media (max-width: 600px) {
  .main-interaction {
    flex-direction: column;
  }

  .dialogue-wrapper, .chat-space-wrapper {
    min-height: 500px;
    max-height: 500px;
  }
}

.dialogue-wrapper, .chat-space-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 70vh;
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dialogue, .chat-space {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 50vh;
  margin: 5px;
  border-radius: 20px;
  text-align: justify;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.dialogue-poem {
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

.dialogue-paragraph {
  display: inline;
  border-radius: 10px;
}

.user-dialogue {
  background-color: #e1f5fe;
}

.ai-dialogue {
  background-color: #ffe0b2;
}

.edit-form {
  display: flex;
  margin-bottom: 5px;
}

.edit-form textarea {
  width: 760px;
  margin-right: 5px;
  height: 70px;
}

.edit-form button {
  color: #225424;
  background-color: #93df95;
  border-radius: 5px;
}

.theme-wrapper {
  margin: 50px;
}

.theme-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.theme-input input {
  font-size: 15px;
  width: 20%;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  overflow-y: auto;
}

.theme-input input:disabled {
  cursor: not-allowed;
}

.theme-submit-btn {
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background-color: #4caf50;
}

.theme-submit-btn:hover {
  opacity: 0.9;
}

.theme-submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.avatar-ai {
  background-color: #007BFF;
  align-self: flex-start;
}

.avatar-user {
  background-color: #28A745;
  align-self: flex-end;
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dialogue-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* .form-wrapper {
  display: flex;
  max-height: 70px;
  align-content: center;
} */

.input-form {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.input-form textarea {
  flex-grow: 1;
  margin: 5px;
  width: 100%;
  min-width: 600px;
}

.submit-button {
  margin: 5px;
  height: 100%;
  width: 100%;
  max-width: 200px;
  align-self: center;
}

.submit-button button {
  margin-left: 5px;
  padding: 5px;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.line-input {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.line-input input {
  width: 100%;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  overflow-y: auto;
}

.finish-btn-wrapper {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.finish-btn {
  margin-left: 5px;
  font-size: larger;
  padding: 5px;
  height: 75px;
  border-radius: 10px;
  width: 150px;
}

.input-form input {
  flex: 1;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-form input:disabled {
  cursor: not-allowed;
}

.input-form button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  min-width: 50px;
  background-color: #4caf50;
}

.input-form button:hover {
  opacity: 0.9;
}

.input-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  word-wrap: break-word
}

.user-message {
  background-color: #e1f5fe;
  align-self: flex-end;
  text-align: left;
}

.ai-message {
  background-color: #ffe0b2;
  align-self: flex-start;
  text-align: left;
}

.footer-container {
  background-color: rgb(76, 70, 163);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-container h2,
.footer-container p {
  margin-bottom: 10px;
}

.footer-container h2 {
  font-size: 20px;
}

.footer-container img {
  max-width: 100%;
  height: auto;
}

.acknowledge-section {
  flex: 1;
  max-width: 600px;
  margin-right: 20px;
  padding-right: 20px;
}

.logo-section img {
  width: 600px; 
}

.feedback-placeholder {
  height: 184px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.rating-container {
  display: flex;
  flex-direction: column;
}

.collaboration-metric,
.ai-performance-metric,
.coordination-metric,
.with-or-without-metric {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rating-selector {
  display: flex;
  flex-direction: row;
}

.rating-circle {
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgb(23,23,23);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-circle:hover {
  transform: scale(1.25);
}

.rating-circle.selected {
  transform: scale(1.25);
  border: 3px solid rgb(23,23,23);
}

.after-rating-submitted {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-button,
.submit-button {
  padding: 20px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.open-tutorial-btn {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.706);
}

.popup {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 70%;
  max-width: 80%;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.close-popup-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-content: center;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.image-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: auto;
  margin: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
}

.description {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #000000;
  text-align: left;
}