* {
  margin: 0px;
  padding: 0px;
}

*:disabled {
  opacity: 1;
  cursor: not-allowed;
}

textarea {
  width: 630px;
  height: 50px;
}

body {
  font-family: "Inter", sans-serif;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.header-container {
  background-color: rgb(76, 70, 163);
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100px; 
  padding: 20px;
}

.navbar {
  color: white;
  display: flex;
}

.navbar a {
  padding: 5px;
}

.task-description {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.task-description ol {
  padding-left: 20px;
}

.card-list {
  
}

.footer-container {
  background-color: rgb(76, 70, 163);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-container h2,
.footer-container p {
  margin-bottom: 10px;
}

.footer-container h2 {
  font-size: 20px;
}

.acknowledge-section,
.bug-report-section,
.terms-section {
  flex: 1;
  margin-right: 20px;
  padding-right: 20px;
}

.logo-section img {
  width: 600px; 
}