* {
  margin: 0px;
  padding: 0px;
}

*:disabled {
  opacity: 1;
  cursor: not-allowed;
}

textarea {
  width: 630px;
  height: 50px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(230, 230, 230);
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.header-container {
  background-color: rgb(76, 70, 163);
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100px; 
  padding: 20px;
}

.navbar {
  color: white;
  display: flex;
}

.navbar a {
  padding: 5px;
}

.task-description {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.task-description ol {
  padding-left: 20px;
}

.card-list {
  margin: 10px;
  padding: 5px;
  margin-bottom: 50px;
}

.card-list-inner-border {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 20px;
  padding: 10px;
}

.card-container {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.784);
  height: fit-content(100);
  border: 2px solid transparent;
}

.card-container:hover {
  border: 2px solid blue;
  transition: all ease-in-out 0.2s;
}

.card-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-name,
.card-description {
  margin: 10px 5%;
  align-self: center; 
}

.card-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.code-btn,
.task-btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: all ease-in-out 0.25s;
  color: rgb(176, 124, 124);
}
.code-link-text,
.task-link-text {
  opacity: 0;
  transition: all ease-in-out 0.25s;
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  transform: translateX(-25%);  
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  margin: 2px
}

.code-btn:hover + .code-link-text,
.task-btn:hover + .task-link-text{
  visibility: visible;
  opacity: 1;
}

.code-btn:hover,
.task-btn:hover {
  background-color: #5a6268;
}

.footer-container {
  background-color: rgb(76, 70, 163);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-container h2,
.footer-container p {
  margin-bottom: 10px;
}

.footer-container h2 {
  font-size: 20px;
}

.acknowledge-section,
.bug-report-section,
.terms-section {
  flex: 1;
  margin-right: 20px;
  padding-right: 20px;
}

.logo-section img {
  width: 600px; 
}